.passwordFieldContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.passwordFieldContainer .md-form {
    flex-grow: 1;
}
.passwordField {
  margin-bottom: 0;
}
.togglePassword {
  position: absolute;
  right: 25px;
  cursor: pointer;
}
